@import "~bootstrap/scss/bootstrap";

.clickable {
    cursor: pointer;
}
.card {
    background-position: center;
    background-size: cover;
    border: none;
    color: #fff;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(50,50,50,0.75);
    }
    .card-body {
        z-index: 1;
    }
}